.menu {
  display: grid;
  grid-gap: 20px;
  grid-auto-flow: column;
  grid-auto-columns: max-content;
  align-items: center;

  &__select-photo-input {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }

  &__select-photo-label {
    cursor: pointer;
  }

  &__font-size {
    width: 200px;
  }

  &__font-size-slider {
    margin-right: 10px;
  }

}
