.menu {
  display: flex;
  align-items: center;
  margin: 0 -10px;

  &__disable-inputs,
  &__font-size,
  &__save-as-image {
    margin: 0 10px;
  }

  &__select-photo-input {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }

  &__select-photo-label {
    cursor: pointer;
  }

  &__font-size {
    width: 200px;
  }

  &__font-size-slider {
    margin-right: 10px;
  }

}
